In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

/Users/rolandonavarro/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
style.use('ggplot')

start = dt.datetime(2017,1,1)
end = dt.datetime(2020,4,7)

# You can use web.DataReader to bring differnt information
df = web.DataReader('TSLA', 'yahoo', start, end)
df = pd.DataFrame(df)

In [4]:
# You can convert this data to csv by doing
# df.to_csv('tsla.csv')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,220.330002,210.960007,214.860001,216.990005,5923300,216.990005
2017-01-04,228.000000,214.309998,214.750000,226.990005,11213500,226.990005
2017-01-05,227.479996,221.949997,226.419998,226.750000,5911700,226.750000
2017-01-06,230.309998,225.449997,226.929993,229.009995,5527900,229.009995
2017-01-09,231.919998,228.000000,228.970001,231.279999,3979500,231.279999